<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Adopte1dev.com{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{# Lien pour Font awesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
		<div class="header__logo">
			<img src="{{ asset('images/logo.png') }}" alt="logo">
		</div>
		<div class="header__subcontent">
			<form action="">
				<input type="text">
				<button>{% trans %}Chercher{% endtrans %}</button>
			</form>
			{% for locale in locales %}
				{% if locale != app.request.locale %}
					<a href="{{ path('change_locale', {'locale': locale}) }}">
						<img src="{{ asset('images/locales/'~locale~'.png') }}" alt="{{locale}}">
					</a>
				{% endif %}
			{% endfor %}
		</div>
			<nav>
				<ul>
					<li><a href="">{% trans %}Accueil{% endtrans %}</a></li>
					<li><a href="">{% trans %}Jobs{% endtrans %}</a></li>
					<li><a href="">{% trans %}Entreprises{% endtrans %}</a></li>
					<li><a href="">{% trans %}Ressources{% endtrans %}</a></li>
					<li><a href="">{% trans %}Nos packs{% endtrans %}</a></li>
					<li><a href="">{% trans %}A propos{% endtrans %}</a></li>
					<li><a href="">{% trans %}Contact{% endtrans %}</a></li>
				</ul>
			</nav>
		</header>
		<main>
		{% block body %}{% endblock %}
		</main>
		<footer>
			<div class="row">
				<div class="col3 all-centered">
					<img src="{{ asset('images/logo_white.png') }}" alt="logo white">
					<h4 class="text-center pacifico text-lightPink">{% trans %}Les meilleurs jobs devs{% endtrans %}</h4>
				</div>
				<div class="col3">
					<h3 class="pacifico text-white">{% trans %}Plan du Site{% endtrans %}</h3>
					<ul>
						<li><a href="">{% trans %}Accueil{% endtrans %}</a></li>
						<li><a href="">{% trans %}Jobs{% endtrans %}</a></li>
						<li><a href="">{% trans %}Entreprises{% endtrans %}</a></li>
						<li><a href="">{% trans %}Ressources{% endtrans %}</a></li>
						<li><a href="">{% trans %}Nos Packs{% endtrans %}</a></li>
						<li><a href="">{% trans %}A propos{% endtrans %}</a></li>
						<li><a href="">{% trans %}Contact{% endtrans %}</a></li>
					</ul>
				</div>
				<div class="col3">
					<h3 class="pacifico text-white">{% trans %}Mentions Légales{% endtrans %}</h3>
					<ul>
						<li><a href="">{% trans %}Conditions générales{% endtrans %}</a></li>
						<li><a href="">{% trans %}Mentions Légales{% endtrans %}</a></li>
						<li><a href="">{% trans %}Politique de confidentialité{% endtrans %}</a></li>
					</ul>
				</div>
				<div class="col3">
					<h3 class="pacifico text-white">{% trans %}Contactez-nous{% endtrans %}</h3>
					<ul>
						<li><a href="mailto:hello@adopte1dev.com">hello@adopte1dev.com</a></li>
						<li class="text-lightPink">+33648363142</li>
						<li>
							<a class="socials" rel="noreferrer" target="_blank" href="https://www.facebook.com/adopte1dev"><i class="fa fa-facebook"></i></a>
							<a class="socials" rel="noreferrer" target="_blank" href="https://twitter.com/Adopte1Dev"><i class="fa fa-twitter"></i></a>
							<a class="socials" rel="noreferrer" target="_blank" href="https://www.linkedin.com/company/adopteundev/"><i class="fa fa-linkedin"></i></a>
							<a class="socials" rel="noreferrer" target="_blank" href="https://www.instagram.com/adopte1dev/"><i class="fa fa-instagram"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row bg-darkblue">
				<p>{% trans %}Tous droits réservés{% endtrans %} © 2020-2021 Adopte1dev.com | {% trans %}Propulsé par{% endtrans %} Adopte1dev.com <span><i class="fa fa-heart"></i></span></p>
			</div>
		</footer>
	</body>
</html>
